.que.multichoiceset .answer .specificfeedback {
    display: inline;
    padding: 0 0.7em;
    background: #fff3bf;
}

.que.multichoiceset .answer div.r0,
.que.multichoiceset .answer div.r1 {
    text-indent: 0px !Important;
    display: flex;
    align-items: baseline;
}

.que.multichoiceset .answer div.r0 label,
.que.multichoiceset .answer div.r1 label,
.que.multichoiceset .answer div.r0 div.specificfeedback,
.que.multichoiceset .answer div.r1 div.specificfeedback {
    /* In Chrome and IE, the text-indent above is applied to any embedded table
       cells or <li>s, which screws up the intended layout. This fixes it again. */
    text-indent: 0;
}

.que.multichoiceset .answer div.r0 .icon.fa-check,
.que.multichoiceset .answer div.r1 .icon.fa-check,
.que.multichoiceset .answer div.r0 .icon.fa-remove,
.que.multichoiceset .answer div.r1 .icon.fa-remove {
    text-indent: 0;
}

.que.multichoiceset .answer div.r0 input,
.que.multichoiceset .answer div.r1 input {
    margin: 0.3rem 0.5rem;
    width: 14px;
}

/* Editing form. */
body#page-question-type-multichoiceset div[id^=fitem_id_][id*=answer_] {
    background: #eee;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #bbb;
    border-bottom: 0;
}

body#page-question-type-multichoiceset div[id^=fitem_id_][id*=answer_] .fitemtitle {
    font-weight: bold;
}

body#page-question-type-multichoiceset div[id^=fitem_id_] .fitemtitle {
    margin-left: 0;
    margin-right: 0;
    padding-left: 6px;
    padding-right: 0;
}

body#page-question-type-multichoiceset div[id^=fitem_id_][id*=fraction_] {
    background: #eee;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #bbb;
    border-top: 0;
    border-bottom: 0;
}

body#page-question-type-multichoiceset div[id^=fitem_id_][id*=feedback_] {
    background: #eee;
    margin-bottom: 2em;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #bbb;
    border-top: 0;
}
